<html>
	<head>
		{% if title %}
			<title>{{ title }} - Aquastan</title>
		{% else %}
			<title>Aquastan!</title>
		{% endif %}
	</head>
	<body>
		<div>Navbar</div>
		<div>
			<a href="{{ url_for('index') }}">Glowna</a>
			<a href="{{ url_for('login') }}">Zaloguj sie</a>
		</div>
		<hr>
		{% with messages = get_flashed_messages() %}
		{% if messages %}
		<ul>
			{% for message in messages %}
			<li>{{ message }}</li>
			{% endfor %}
		</ul>
		{% endif %}
		{% endwith %}
		{% block content %}{% endblock %}
		<hr>
		<div>stopki? :-3</div>
	</body>
</html>
